# monorepo root ignores
node_modules/
.expo/
.vscode/

# app module
customer-app/node_modules/
customer-app/.expo/
customer-app/.vscode/

# backend module
customer-backend/node_modules/
customer-backend/.env
